@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.logo {
    width: 50px;
}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.911);
}

header nav {
    
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.search a{
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before{
    top: -4.5px; 
}

.hamburger .bar::after{
    top: 4.5px;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);

}

.bg-img {
    position: absolute;
    width: 1900px;
    top: calc(50% - 270px);
    left: calc(50% + 0px);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.fog_7{
    position: absolute;
    z-index: 2;
    width: 1800px;
    top: calc(50% - 0px);
    left: calc(50% + 10px);
    transform: translate(-50%, -50%);
}

.mountain_10{
    position: absolute;
    z-index: 3;
    width: 800px;
    top: calc(50% + 90px);
    left: calc(50% + 260px);
    transform: translate(-50%, -50%);
}

.fog_6{
    position: absolute;
    z-index: 4;
    width: 2000px;
    top: calc(50% + 210px);
    left: calc(50% + 0px);
    transform: translate(-50%, -50%);
}

.mountain_9{
    position: absolute;
    z-index: 5;
    width: 578px;
    top: calc(50% + 190px);
    left: calc(50% - 350px);
    transform: translate(-50%, -50%);
}

.mountain_8{
    position: absolute;
    z-index: 6;
    width: 820px;
    top: calc(50% + 170px);
    left: calc(50% - 250px);
    transform: translate(-50%, -50%);
}

.fog_5{
    position: absolute;
    z-index: 6;
    width: 820px;
    top: calc(50% + 170px);
    left: calc(50% - 250px);
    transform: translate(-50%, -50%);
}

.mountain_7{
    position: absolute;
    z-index: 8;
    width: 570px;
    top: calc(50% + 249px);
    left: calc(50% + 280px);
    transform: translate(-50%, -50%);
}

.text {
    position: absolute;
    z-index: 9;
    top: calc(50% - 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.text h2{
    font-weight: 50;
    font-size: 5.5rem;
}

.text h1{
    font-weight: 300;
    font-size: 6.5rem;
    line-height: 0.88;
}


.mountain_6{
    position: absolute;
    z-index: 10;
    width: 566px;
    top: calc(50% + 140px);
    left: calc(50% + 520px);
    transform: translate(-50%, -50%);
}

.fog_4{
    position: absolute;
    z-index: 11;
    width: 670px;
    top: calc(50% + 170px);
    left: calc(50% + 250px);
    transform: translate(-50%, -50%);
}

.mountain_5{
    position: absolute;
    z-index: 12;
    width: 500px;
    top: calc(50% + 180px);
    left: calc(50% + 200px);
    transform: translate(-50%, -50%);
}


.fog_3{
    position: absolute;
    z-index: 13;
    width: 700px;
    top: calc(50% + 210px);
    left: calc(50% + 120px);
    transform: translate(-50%, -50%);
}

.mountain_4{
    position: absolute;
    z-index: 17;
    width: 680px;
    top: calc(50% + 150px);
    left: calc(50% - 380px);
    transform: translate(-50%, -50%);
}

.mountain_3{
    position: absolute;
    z-index: 15;
    width: 630px;
    top: calc(50% + 150px);
    left: calc(50% + 659px);
    transform: translate(-50%, -50%);
}

.fog_2{
    position: absolute;
    z-index: 16;
    width: 130px;
    top: calc(50% + 100px);
    left: calc(50% + 120px);
    transform: translate(-50%, -50%);
}

.mountain_2{
    position: absolute;
    z-index: 14;
    width: 679px;
    top: calc(50% + 119px);
    left: calc(50% + 420px);
    transform: translate(-50%, -50%);
}

.mountain_1{
    position: absolute;
    z-index: 18;
    width: 430px;
    top: calc(50% + 100px);
    left: calc(50% - 566px);
    transform: translate(-50%, -50%);
}

.sun-rays {
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
}

.black-shadow {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
}

.fog_1 {
    position: absolute;
    z-index: 21;
    width: 1100px;
    top: calc(100% + 405px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.vignette{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0)65%, rgba(0, 0, 0, 0.7));
}
